In [1]:
mylist={'shubham','1234'}

In [2]:
print(mylist)

{'1234', 'shubham'}

In [6]:
list2={"x","y"}
print(list2)

{'y', 'x'}

In [7]:
str1 = "ICEEM"
print(type(str1))

<class 'str'>

In [8]:
#String methods

In [11]:
print(str1.lower())

iceem

In [15]:
print(str1.upper())

ICEEM

In [16]:
print(str1.title())

Iceem

In [18]:
str2="Shubham"

In [19]:
print(str2.capitalize())

Shubham

In [22]:
name="monu"
name= name.replace("m","s")
name

'sonu'

In [24]:
name="Sakshad"
name=name.replace("Sakshad","shubham")
name

'shubham'

# conut method

In [26]:
mystr3 = " one two three one two two three"
mystr3.count("two")

3

In [27]:
name.startswith("s")

True

In [29]:
print(name.startswith("S"))

False

# split

In [34]:
str1="ICEEM is a Engg & Polytechnic college"
print(str1.split())
print(str1.split("Engg"))

['ICEEM', 'is', 'a', 'Engg', '&', 'Polytechnic', 'college']
['ICEEM is a ', ' & Polytechnic college']

In [35]:
mystr4 = '564654654654'
print(mystr4.isalpha())

False

In [37]:
print(mystr4.isalnum())

True

In [38]:
# indexing - position of elements

In [39]:
str1="ICEEM"
str1[1]

'C'

In [42]:
str5="ICEEM is a Engg & Polytechnic college"
str5[11:29]

'Engg & Polytechnic'

In [43]:
str5[11:30]

'Engg & Polytechnic '

In [46]:
str5[18:29:1]

'Polytechnic'

In [47]:
str5[18:29:2]

'Pltcnc'

In [53]:
print(str5[-9:-20:1])

In [56]:
str2 ="ICEEM"
str2[::-1]

'MEECI'

In [57]:
str2 == str2[::-1]

False

In [59]:
if str2 == str2[::-1]:
    print("Palindrome")
else:
    print("not palindrome")

not palindrome

In [60]:
#Dictionary

In [64]:
str7="sakshad"
str7[::-1]

'dahskas'

In [65]:
if str7 == str7[::-1]:
    print("Palindrome")
else:
    print("not palindrome")

not palindrome

In [66]:
#Dictionary - It is a collection of data in from of key value pair

In [75]:
my_student ={"name":"Shubham","age":24}
my_student["name"]
students ={
   "student1": {"name":"Shubham","age":24},
    "student2": {"name":"Sakshad","age":22},
    "student3": {"name":"sagar","age":22}
    }
students["student2"]["age"]
students["student2"]["name"],["age"]

('Sakshad', ['age'])

In [83]:
#dictionary methods
students.keys()

dict_keys(['student1', 'student2', 'student3'])

In [85]:
students.values()

dict_values([{'name': 'Shubham', 'age': 24}, {'name': 'Sakshad', 'age': 22}, {'name': 'sagar', 'age': 22}])

In [86]:
students.items()

dict_items([('student1', {'name': 'Shubham', 'age': 24}), ('student2', {'name': 'Sakshad', 'age': 22}), ('student3', {'name': 'sagar', 'age': 22})])

In [87]:
#Set - It does not allow duplicates.
myset= {1,2,3,4,5,1,2,3}
myset

{1, 2, 3, 4, 5}

In [88]:
# Set Methods
myset.add(50)
myset

{1, 2, 3, 4, 5, 50}

In [90]:

myset.update([60,70,80])
myset

{1, 2, 3, 4, 5, 50, 60, 70, 80}

In [91]:
myset.discard(80) # It does not throw any eror even if 
myset

{1, 2, 3, 4, 5, 50, 60, 70}

# conditional statements
# IF, Elif  Else

In [101]:
x = 100
if x == 10:
    print("x is equal to 10")
else:
    print("x is not equal to 10")

x is not equal to 10

In [105]:
num = eval(input("enter marks:"))
if num >=80:
    print("Grade A")
elif num >= 60:
    print("Grade B")
elif num >= 40:
    print("Grade c")
else:
    print("Grade D")

enter marks: 87

Grade A

# ATM Program using if else

In [1]:
user_name_input = input("Enter your name:")
if user_name_input =="ICEEM":
    user_pin = int(input("Enter your pin:"))
    if user_pin == 1234:
        print("Welcome iceem")
    else:
        print("Invalid user")

Enter your name: ICEEM
Enter your pin: 1234

Welcome iceem

# loops
# for loop and while loop

In [9]:
for i in range(3):
    print(f"{i}Thank you")

0Thank you
1Thank you
2Thank you

In [15]:
#numbers from 1 to 20
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [17]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [26]:
for i in range(5,55,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [30]:
list1 =[1,2,3,4,5]
for i in list1:
    print(i**2)

1
4
9
16
25

In [42]:
for i in range(1,101):
    list(range(1,101))
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [61]:
even_list=[]
odd_list=[]

for i in range(1,101):
    if i % 2 == 0:
        even_list.append(i)
    else:
        odd_list.append(i)

In [58]:
even_list

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [62]:
odd_list

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [93]:
for i in range(1,11):
    for j in range(1,11):
        #  print(i,"x",j,"=",i*j)
        print(f"{j} * {i:1} = {i*j:3}",end = "\t")
    print()

1 * 1 =   1	2 * 1 =   2	3 * 1 =   3	4 * 1 =   4	5 * 1 =   5	6 * 1 =   6	7 * 1 =   7	8 * 1 =   8	9 * 1 =   9	10 * 1 =  10
1 * 2 =   2	2 * 2 =   4	3 * 2 =   6	4 * 2 =   8	5 * 2 =  10	6 * 2 =  12	7 * 2 =  14	8 * 2 =  16	9 * 2 =  18	10 * 2 =  20
1 * 3 =   3	2 * 3 =   6	3 * 3 =   9	4 * 3 =  12	5 * 3 =  15	6 * 3 =  18	7 * 3 =  21	8 * 3 =  24	9 * 3 =  27	10 * 3 =  30
1 * 4 =   4	2 * 4 =   8	3 * 4 =  12	4 * 4 =  16	5 * 4 =  20	6 * 4 =  24	7 * 4 =  28	8 * 4 =  32	9 * 4 =  36	10 * 4 =  40
1 * 5 =   5	2 * 5 =  10	3 * 5 =  15	4 * 5 =  20	5 * 5 =  25	6 * 5 =  30	7 * 5 =  35	8 * 5 =  40	9 * 5 =  45	10 * 5 =  50
1 * 6 =   6	2 * 6 =  12	3 * 6 =  18	4 * 6 =  24	5 * 6 =  30	6 * 6 =  36	7 * 6 =  42	8 * 6 =  48	9 * 6 =  54	10 * 6 =  60
1 * 7 =   7	2 * 7 =  14	3 * 7 =  21	4 * 7 =  28	5 * 7 =  35	6 * 7 =  42	7 * 7 =  49	8 * 7 =  56	9 * 7 =  63	10 * 7 =  70
1 * 8 =   8	2 * 8 =  16	3 * 8 =  24	4 * 8 =  32	5 * 8 =  40	6 * 8 =  48	7 * 8 =  56	8 * 8 =  64	9 * 8 =  72	10 * 8 =  80
1 * 9 =   9	2 * 9 =  18	3 * 9 =  27	4 * 9 =  36	5 * 9 =  45	6 * 9 =  54	7 * 9 =  63	8 * 9 =  72	9 * 9 =  81	10 * 9 =  90
1 * 10 =  10	2 * 10 =  20	3 * 10 =  30	4 * 10 =  40	5 * 10 =  50	6 * 10 =  60	7 * 10 =  70	8 * 10 =  80	9 * 10 =  90	10 * 10 = 100

In [95]:
for i in range(1,11):
    for j in range(1,11):
        #  print(i,"x",j,"=",i*j)
        print(f"{j} * {i:1} = {i*j:1}", end =  "\t")

1 * 1 = 1	2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9	10 * 1 = 10	1 * 2 = 2	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18	10 * 2 = 20	1 * 3 = 3	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27	10 * 3 = 30	1 * 4 = 4	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36	10 * 4 = 40	1 * 5 = 5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	10 * 5 = 50	1 * 6 = 6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	10 * 6 = 60	1 * 7 = 7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	10 * 7 = 70	1 * 8 = 8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	10 * 8 = 80	1 * 9 = 9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81	10 * 9 = 90	1 * 10 = 10	2 * 10 = 20	3 * 10 = 30	4 * 10 = 40	5 * 10 = 50	6 * 10 = 60	7 * 10 = 70	8 * 10 = 80	9 * 10 = 90	10 * 10 = 100

In [96]:
# Star pattern

In [104]:
rows = int(input("Ente rows: "))
for i in range(rows+1):
    for j in range(1,i+1):
        print("*", end = " ")
    print()

Ente rows:  5

*
* *
* * *
* * * *
* * * * *

# WHILE LOOP

In [115]:
num = 1
while num <= 10:
    print(num)
    num += 1m

1
2
3
4
5
6
7
8
9
10

In [1]:
import pandas #random
secret_number = random.randint(1,10)
guess = None
attempts = 0
while guess != secret_number:
  guess = int(input("Guess the number : "))
  attempts +=1
if guess < secret_number:
    print( "low")
elif guess > secret_number:
    print("Too high")
else:
    print(f"You guessed it in {attempts} attempts")

NameError: name 'random' is not defined

In [5]:
# functions - bolck of code which runs
#user defined

def add():
    print(2+7)
    add()

In [27]:
def call_name(name):
    print(f"my name is {name}")

In [28]:
call_name("Shubham")

my name is Shubham

# function with arbitary arguments

In [4]:
def numbers(*args):
    for i in args:
     print(i)
numbers(1,2,3)

1
2
3

In [19]:
def even_odd(*args):
    even_list=[]
    odd_list=[]
    for i in args:
      if i % 2 == 0:
        even_list.append(i)
      else:
        odd_list.append(i)
    return even_list, odd_list
even_odd(1,2,3,4,5,6,7,8,9,10)

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

# login function

In [35]:
def login(name, password):
  if name == "iceem" and password == 1234:
   print("iceem") else:
print("Invalid user")
login("iceem",7890)

SyntaxError: invalid syntax (1295960083.py, line 3)

# Lambda = small anonymous names function

In [1]:
# w r p to input two numbers and display their sum, difference, product and quotient

In [39]:
# oops - Object Oriented Programming
#It is a method of programming which considers object as a real world entity.
#class - Class is blueprint of oject, class is userdefined datatype , class is collection of  object
# object - object is instance of object 
#methods - what my objects can do ?
# Attribues - Arguments of objects
class cs:
    pass

student1 =cs()
print(student1)

<__main__.cs object at 0x0000025047A7C8C0>

In [67]:
class CS:
    def __init__(self, name, age):
        self.name = name
        self.age = age

student1=CS("shubham",24)

In [59]:
student1.name

'shubham'

In [61]:
student1.age

24

In [62]:
student2= CS("Sakshad",22)

In [63]:
student2.name

'Sakshad'

In [64]:

student2.age

22

In [70]:
class CS:
    def __init__(self, name, age):
        self.name = name
        self.age =  age
        
    def coding(self):
     print(f"{self.name} is coding")

student1= CS("Shubham",24)
student2= CS("sakshad",22)
student1.coding()

Shubham is coding

# Inheritance

In [77]:
class Parent:
    def __init__(self, name, surname):
        self.name = name
        self.surname = surname
    def show_details(self):
        print(f"My name is {self.name}  {self.surname}")

class Child(Parent):
    def __init__(self, name, surname, age):
        super().__init__(name, surname)
        self.age = age
    def intro(self):
        super().show_details()

In [78]:
child1 = Child("Amit","Kumar",25)
child1.intro()

My name is Amit  Kumar

# Encapsulation

In [100]:
class ATM:
    def __init__(self, name, card_no, pin):
        self.name = name
        self.card_no = card_no   # Protected Property
        self.pin = pin  # Private Property
    def get_pin(self):
      return self.pin
machine1 = ATM("Amit",123456789,1234)

In [101]:
machine1.get_pin()

1234

# polymorphism

In [112]:
class Parent:
    def __init__(self, name, surname):
        self.name = name
        self.surname = surname
        
    def show_details(self):
        print(f"My name is {self.name}  {self.surname}")

class Child(Parent):
    def __init__(self, name, surname, age):
        super().__init__(name, surname)
        self.age = age
        
    def show_details(self):
        print(f"My name is {self.name}  {self.surname} and i am {self.age} years old")

In [114]:
child1 = Child("Amit","Kumar",25)
child1.show_details()

My name is Amit  Kumar and i am 25 years old

In [ ]:
class Mobile:
    from abc import ABC, abstractmethod
    class Mobile(ABC):
        def __init__(delf, name, price):
            self.name = name
            self.price = price
             @abstracemethod
        def messaging(self):
            pass
            class Apple(Mobile)
            def __init__(self, name, price, camera):
                super().__init__(name, price)
                self. camera = camera
        def calling(self):
            print(f"{self.name} is calling")
        def messing(self